<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hello Vue!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <div id="app">
            <input type="text" v-model="message">
            <button v-on:click="cleanMessage">Clean message</button>
            <h1>{{ message }}</h1>

            <ul>
                <li v-for="(item, index) in items">
                    {{index + 1}}) {{ item.title }}
                </li>
            </ul>        
        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
    
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello, Vue!',
                    items: [
                        {title: 'Apple'},
                        {title: 'Lemon'},
                        {title: 'Груша'}
                    ]
                },
                methods: {
                    cleanMessage: function() {
                        this.message = '';
                    }
                }
            })
            
        </script>

    </body>
</html>